$main-color:#3d4495;
$success-color:#63c1ec;
$warning-color:#fecf56;
$error-color:#f94e4f;
$info-color:#3d4495;

$main-font-color:#313033;
$sub-font-color:#66656a;
$other-font-color:#999999;
$info-font-color:#c4c2c2;
$line-color:#f0f0f1;
$disabled-color:#cdcdcd;

$background-color:#f5f5f5;

$dark-back-main:#3d4495;
$dark-back-sub:#4e57aa;
$light-back-main:#e3e4f1;
$light-back-sub:#f4f5fa;

$title-font-size:20px;
$large-font-size:16px;
$middle-font-size:14px;
$small-font-size:13px;
